<div align="center">
  <h3>Categories</h3>
  <small style="opacity: 0.4;">({{ filtered.length}} categories)</small><br>
  <hr>
  <input type="text" ng-model="search.name" list="category-datalist" placeholder="Filter..." /><br>
  <!-- Bug: If this field is set to type="number" the filter will clear all categories if $touched and given empty value. Leaving as type="text" lets a clear input return all categories -->
  <input type="text" ng-model="search.entitiesCount" list="entities-count-datalist" placeholder="Number of entries..." /><br>
  <form ng-submit="ctrl.postCategories()" class="hidden">
    <hr>
    <h3 align="center">New Category</h3> 
    <input type="text" ng-model="ctrl.data.category.name" name="name" placeholder="Category name..." /><br>
    <input type="submit" value="submit" /><br>
    <small><a ng-click="ctrl.hideForm()" style="cursor: pointer;">Close</a></small>
    <hr>
  </form>
  <small><a ng-click="ctrl.addForm()" style="cursor: pointer;">New Category</a></small>
</div>
<datalist id="category-datalist">
  <div ng-repeat="category in ctrl.categories">
    <option value="{{ category.name }}">
  </div>
</datalist>
<datalist id="entities-count-datalist">
  <div ng-repeat="category in ctrl.categories | unique: 'entitiesCount' | orderBy: 'entitiesCount' ">
    <option value="{{ category.entitiesCount }}">
  </div>
</datalist>
<hr>
<li ng-repeat="category in filtered = (ctrl.categories |filter:search)">
  <a ui-sref="category.show({id: {{ category.id }} })"><strong>{{ category.name }}</strong></a> <span style="opacity: 0.4;">({{ category.entitiesCount }})</span>
</li>
<script type="text/javascript">
function addForm () {
  $('.form').append('<input type="text" name="categories[]" /><br>');
}
</script>
