<div align="center">
  <h3>{{ ctrl.category.name }}</h3>
  <hr>
  <input type="text" ng-model="search.name" list="name-datalist" placeholder="Search by name..." />
  <input type="text" ng-model="search.description" placeholder="Search by description..." />
  <!-- <input type="text" ng&#45;model="search.categories.name" list="category&#45;datalist" placeholder="Search by tag..." /> -->
  <hr>
</div>
<datalist id="name-datalist">
  <option ng-repeat="entity in ctrl.category.entities" value="{{ entity.name }}">
</datalist>
<ul>
  <li ng-repeat="entity in ctrl.category.entities | filter:search">
    <!-- <a href="/#/entities/{{ entity.id }}">{{ entity.name }}</a> -->
    <div class="row">
      <div class="three columns" align="center">
	<h5><a href="/#/entities/{{ entity.id }}">{{entity.name }}</a></h5> 
      </div>
      <div class="nine columns">
	|| {{ entity.description }}<br> 
      </div>
    </div>
    <hr>
  </li>
</ul>
