<div align="center">
  <h3>Subjects</h3>
  <small><a ui-sref="entities.new">New Entry</a></small>
  <hr>
</div>
<div>
  <li ng-repeat="entity in main.entities">
    <div class="row">
      <div class="three columns" align="center">
	<h5><a ui-sref="entities.show({id: {{ entity.id }} })">{{entity.name }}</a></h5> 
      </div>
      <div class="nine columns">
	// {{ entity.description }}<br> 
	|| <div style="display: inline;" ng-repeat="cat in entity.categories"><small>{{cat.name}}</small> || </div>
      </div>
    </div>
    <hr>
  </li>
</div>
