<h4 align="center">{{ ctrl.entity.name }}</h4>
<div align="center">
  {{ ctrl.entity.description }}
  <br>
  (<small><a ui-sref="entities.edit({id: {{ ctrl.entity.id }} })">edit</a></small>)
  <div ng-if="ctrl.entity.categories.length > 0">|| <div style="display: inline;" ng-repeat="cat in ctrl.entity.categories"><a ui-sref="category.show({id: {{ cat.id }} })"><small>{{cat.name}}</small></a> || </div></div>
  <small><a ui-sref="category.add({entity_id: {{ ctrl.entity.id }} })">+</a></small>
</div>
<hr>
<div class="dynamic-tab-container">
  <div align="center">
    <small><a ui-sref="sections.new({id: {{ctrl.entity.id}} })">New Section</a></small>
  </div>
  <ul id="tabs">
    <li><a href="#0" tab-dynamic ng-class="{'current':$first}">Main</a></li>  
      <li ng-repeat="section in ctrl.entity.sections">
      <a href="#{{ section.id }}" tab-dynamic ng-class="{'current':$first}">{{section.name}}</a>
    </li>
  </ul>
  <div class="tab-content-wrapper">
    <div class="tab-content ng-scope" id="0" ng-class="{'active':$first}">
      <div align="center">
	<small><a ui-sref="generalLinks.new({entity_id: {{ ctrl.entity.id }} })">New Link</a></small> | <small><a ui-sref="generalNotes.new({entity_id: {{ ctrl.entity.id }} })">New Note</a></small>
	<hr>
	<input type="text" ng-model="glsearch" placeholder="Filter links..." />	
	<input type="text" ng-model="gnsearch" placeholder="Filter notes..." />	
	<hr>
      </div>
      <div align="center" ng-if="ctrl.entity.generalNotes.length > 0"><h5>General Notes</h5></div>

	<div class="row" ng-if="ctrl.entity.generalNotes.length > 0"</div>
	  <div class="two columns">
	    <strong>General Notes:</strong>
	  </div>
	  <div class="ten columns">
      <div ng-repeat="gn in ctrl.entity.generalNotes | filter:gnsearch">
	    <span class="note-title">{{ gn.title }}</span> (<small><a ui-sref="generalNotes.edit({general_note_id: {{ gn.id }} })">edit</a></small>)
	    <br>
	    <span style="opacity: 0.4;">({{ gn.created_at }})</span><br>
	    <span style="white-space: pre-wrap;">{{ gn.body }}</span> 
	    <hr>
	  </div>
	</div>

      </div>      
      
      <div align="center" ng-if="ctrl.entity.generalLinks.length > 0"><h5>General Links</h5></div>

      <div class="row" ng-if="ctrl.entity.generalLinks.length > 0">
	<div class="two columns">
	  <strong>General Links:</strong>
	</div>
	<div class="ten columns">
	  <div ng-repeat="gl in ctrl.entity.generalLinks | filter:glsearch">
	    <a href="{{ gl.href }}" target="_blank">{{ gl.title }}</a> (<small><a ui-sref="generalLinks.edit({general_link_id: {{ gl.id }} })">edit</a></small>)
	    <br> <span style="opacity: 0.4;">({{ gl.created_at }})</span><br>
	    {{ gl.description }}<br ng-if="gl.description.length > 0">
	    <a href="{{ gl.archive }}" target="_blank">cached</a>
	    <hr>
	  </div>
	</div>
      </div>
    </div>
    <div class="tab-content" ng-repeat="section in ctrl.entity.sections" id="{{section.id}}" ng-class="{'active':$first}">
      <div align="center">
	<p ng-if="section.description.length > 0">{{section.description}}</p>
	<small><a ui-sref="subsections.new({section_id: {{ section.id }}, entity_id: {{ ctrl.entity.id }} })">New Subsection</a></small><br>
	<input type="text" ng-model="search.name" list="subsection-datalist" placeholder="Filter by heading..." />	
	<input type="text" ng-model="lsearch" placeholder="Filter links..." />	
	<input type="text" ng-model="nsearch" placeholder="Filter notes..." />	
      </div>
      <hr>
      <datalist id="subsection-datalist">
	  <option ng-repeat="subsection in section.subsections" value="{{ subsection.name }}">
      </datalist>
      <li ng-repeat="subsection in section.subsections |filter:search ">
	<div align="center">
	  <h5>{{ subsection.name }}</h5> 
	  <p>{{ subsection.description }}</p>
	  <small><a ui-sref="links.new({subsection_id: {{ subsection.id }}, entity_id: {{ ctrl.entity.id }} })">New Link</a></small> | <small><a ui-sref="notes.new({subsection_id: {{ subsection.id }}, entity_id: {{ ctrl.entity.id }} })">New Note</a></small><hr>
	</div>
	<div class="row" ng-if="subsection.links.length > 0">
	  <div class="two columns title" align="center">
	    {{ subsection.name }} Links:
	  </div>
	  <div class="ten columns">
	    <div ng-repeat="link in subsection.links | filter:lsearch">
	      <a href="{{link.href}}" target="_blank">{{link.title}}</a> (<small><a ui-sref="links.edit({ entity_id: {{ctrl.entity.id }}, link_id: {{ link.id }} })">edit</a></small>)
	      <br><span style="opacity: 0.4; font-style: italic;">({{link.created_at}})</span>
	      <br>{{ link.description }}<br ng-if="link.description.length > 0">
	      <a href="{{link.archive}}" target="_blank">cached</a>
	      <hr>
	    </div>
	  </div>
	</div>
	<div class="row" ng-if="subsection.notes.length > 0">
	  <div class="two columns title" align="center">
	    {{ subsection.name }} Notes:
	  </div>
	  <div class="ten columns">
	    <div ng-repeat="note in subsection.notes | filter:nsearch">
	      <span class="note-title">{{note.title}}</span> (<small><a ui-sref="notes.edit({entity_id: {{ ctrl.entity.id }}, note_id: {{ note.id }} })">edit</a></small>)
	      <br><span style="opacity: 0.4; font-style: italic;">({{note.created_at}})</span><br>
	      <span style="white-space: pre-wrap;">{{note.body}}</span><hr>
	    </div>
	  </div>
	  <hr>
      </li>
	</div>
    </div>
  </div></p></h2></div></div></a></li></ul></div>
