<div align="center"> 
  <h3>Subjects</h3> 
  <small style="opacity: 0.4;">({{ filtered.length }} entries)</small><br>
  <small><a ui-sref="entities.new">New Entry</a></small>
  <hr>
  <input type="text" ng-model="search.name" list="name-datalist" placeholder="Search by name..." />
  <input type="text" ng-model="search.description" placeholder="Search by description..." />
  <input type="text" ng-model="search.categories.name" list="category-datalist" placeholder="Search by tag..." />
  <input type="text" ng-model="search.upvotes" list="upvotes-datalist" placeholder="Search by upvotes..." />
  <hr>
</div>
<datalist id="name-datalist">
  <div ng-repeat="entity in main.entities">
    <option value="{{ entity.name }}">
  </div>
</datalist>
<datalist id="category-datalist">
  <div ng-repeat="category in main.categories">
    <option value="{{ category.name }}">
  </div>
</datalist>
<datalist id="upvotes-datalist">
  <div ng-repeat="entity in main.entities | unique: 'upvotes' | orderBy: 'upvotes' ">
    <option value="{{ entity.upvote }}">
  </div>
</datalist>
<div>
  <li ng-repeat="entity in filtered = (main.entities | filter:search)">
    <div class="row">
      <div class="three columns" align="center">
	<h5><a ui-sref="entities.show({id: {{ entity.id }} })">{{ entity.name }}</a></h5> 	
	<a href="" ng-click="main.upvote(entity.id)">↑</a> {{ entity.upvotes }}
	<a href="" ng-click="main.downvote(entity.id)">↓</a><br>
	
	(<small><a style="color: red;" href="" ng-click="main.destroyEntity(entity.id)">X</a></small>)
	(<small><a ui-sref="entities.edit({id: {{ entity.id }} })">edit</a></small>)
      </div>
      <div class="nine columns">
	// {{ entity.description }}<br> 
	<div ng-if="entity.categories.length > 0">|| <div style="display: inline;" ng-repeat="cat in entity.categories"><a ui-sref="category.show({id: {{ cat.id }} })"><small>{{cat.name.slice(0,20)}}</small></a> || </div></div>
	<small><a ui-sref="category.add({entity_id: {{ entity.id }} })">+</a></small>
      </div>
    </div>
    <hr>
  </li>
</div>
