<h3>New Link</h3>
  {{ ctrl }}
  <div ng-messages="LinkForm.title.$error">
    <div class="message-alert" ng-message="required" ng-if="LinkForm.title.$touched" align="center">A title is required for submission</div><br>
  </div>
  <form name="LinkForm" ng-submit="ctrl.postGeneralLink()">
  <input type="hidden" name="entity_id" ng-model="ctrl.data.link.entity_id" value="{{ctrl.data.link.entity_id}}" ng-if="ctrl.data.link.entity_id !== undefined" />
  <input type="hidden" name="section_id" ng-model="ctrl.data.link.subsection_id" value="{{ctrl.data.link.subsection_id}}" ng-if="ctrl.data.link.subsection_id !== undefined" />
  <input type="text" name="title" placeholder="Name/Title..." ng-model="ctrl.data.link.title" required="required" /><br>
  <textarea ng-model="ctrl.data.link.description" name="description" class="js-untouched"></textarea><br>
  <input type="text" name="href" placeholder="URL..." ng-model="ctrl.data.link.href" required="required" /><br>
  <input type="text" name="archive" placeholder="Archived link...(optional)" ng-model="ctrl.data.link.archive" /><br>
  <input type="submit" value="submit" ng-disabled="LinkForm.$invalid" />
</form>
<script type="text/javascript">
  $(document).ready(function() {
    $(".js-untouched").focus(function() { 
      $(this).text('');
      $(this).removeClass('js-untouched');
    });
  });
</script>
