<h3>New Section</h3>
  <div ng-messages="SectionForm.name.$error">
    <div class="message-alert" ng-message="required" ng-if="SectionForm.name.$touched" align="center">A name is required for submission</div><br>
  </div>
<form name="SectionForm" ng-submit="ctrl.postSection(ctrl.data.section)">
  <input type="text" name="name" placeholder="Name/Title..." ng-model="ctrl.data.section.name" required="required" /><br>
  <textarea ng-model="ctrl.data.section.description" class="js-untouched">Description...</textarea><br>
  <input type="submit" value="submit" ng-disabled="SectionForm.$invalid" />
</form>
<script type="text/javascript">
  $(document).ready(function() {
    $(".js-untouched").focus(function() { 
      $(this).text('');
      $(this).removeClass('js-untouched');
    });
  });
</script>
