<h3>{{ ctrl.data.subsection.id !== undefined ? 'Edit' : 'New' }} Subsection</h3>
  <div ng-messages="SubsectionForm.name.$error">
    <div class="message-alert" ng-message="required" ng-if="SubsectionForm.name.$touched" align="center">A name is required for submission</div><br>
  </div>
  <form name="SubsectionForm" ng-submit="ctrl.postSubsection()">
  <input type="hidden" name="section_id" ng-model="ctrl.data.subsection.section_id" value="{{ctrl.data.subsection.section_id}}" />
  <label>Name</label>
  <input type="text" name="name" placeholder="Name/Title..." ng-model="ctrl.data.subsection.name" required="required" /><br>
  <label>Description</label>
  <textarea ng-model="ctrl.data.subsection.description" class="js-untouched"></textarea><br>
  <input type="submit" value="submit" ng-disabled="SubsectionForm.$invalid" />
</form>
