<ul class="navbar-list">
  <div class="container">
    <a ui-sref="entities.index"><li>Entities</li></a>
    <a ui-sref="category.index"><li>Categories</li></a>
    <a ui-sref="entities.new" style="float: right;"><li>New Entity</li></a>
  </div>
</ul>
